.contact {

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    text-align: center;

    &__success {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      opacity: .7;

      flex-direction: column;

      justify-content: center;
      align-items: center;

      font-size: 16px;

      span {
        font-size: 20px;
        text-transform: uppercase;
        margin: 10px 0;
      }

      &~* {
        transition: all .5s;
      }
    }

    .active {
      &~* {
        opacity: 0;
      }
    }

    &__field {
      width: 100%;
      position: relative;
      margin-bottom: 15px;

      input,
      textarea {
        border: 0 none;
        border-bottom: 2px solid $bg-color;
        width: 100%;
        font-size: 14px;
        font-family: $mainFont;
        line-height: 40px;
        box-shadow: none;
        outline: none;
        padding: 0 15px;
        transition: all .5s;
      }

      input {
        height: 40px;
      }

      label {
        position: absolute;
        top: 8px;
        left: 15px;
        font-size: 16px;
        transition: all .5s;

        span {
          color: #F44336;
          padding: 0 2px;
        }
      }

      input:focus,
      textarea:focus {
        &+label {
          top: -10px;
          left: 5px;
          font-size: 12px;
          font-weight: bold;
          color: $link-color;
        }
      }

      input:focus {
        height: 60px;
      }

      input:valid,
      textarea:valid {
        border-bottom: 2px solid #4CAF50;

        &+label {
          top: -10px;
          left: 5px;
          font-size: 12px;
          font-weight: bold;
          color: $link-color;
        }
      }

      input:invalid,
      textarea:invalid {
        -webkit-box-shadow: none;
        box-shadow: none;
      }

      input:invalid:not(:focus):not(:placeholder-shown) {
        border-bottom: 2px solid #F44336;

        &+label {
          top: -10px;
          left: 5px;
          font-size: 12px;
          font-weight: bold;
          color: $link-color;
        }
      }

      input:invalid:focus:not(:placeholder-shown) {
        ~.requirements {
          max-height: 20px;
        }
      }

      .requirements {
        position: absolute;
        bottom: 5px;
        padding: 0 15px;
        max-height: 0;
        transition: all .5s;
        overflow: hidden;
        font-size: 14px;
        line-height: 20px;
        color: #F44336;
      }
    }

    textarea {
      width: 100%;
      height: 200px;
      resize: vertical;
    }

    &__btn {
      font-size: 14px;
      border: 0 none;

      width: 200px;
      padding: 15px;
      font-weight: bold;
      outline: none;
      border-radius: 2px;
      cursor: pointer;

      color: #FFF;
      text-transform: uppercase;
      background: $link-color;

      &:hover {
        background: $bg-color;
      }
    }
  }
}

@media screen and (max-width: 475px) {
  .contact .form__success {
    font-size: 12px;

    span {
      font-size: 16px;
    }
  }
}