.footer {
  width: 90%;
  padding: 35px 0;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  justify-content: space-between;

  &__social {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

  }

  &__item {
    margin: 0 10px;
  }

  &__link {
    i {
      font-size: 14px;
      color: #EEEEEE;
      padding: 8px;
      border-radius: 100%;
      border: 2px solid #EEEEEE;
      width: 35px;
      height: 35px;
      margin: auto;
      text-align: center;
      transition: all .5s;

      &:hover {
        color: $link-color;
        border: 2px solid $link-color;
      }
    }
  }

  &__text {
    font-size: 18px;
    line-height: 35px;
    color: #EEEEEE;

    i {
      transition: all .5s;
    }

    i:hover {
      color: $link-color;
    }

    a {
      color: $link-color;
    }
  }
}

@media screen and (max-width: 875px) {
  .footer {
    flex-direction: column;
    align-items: center;

    &__social {
      margin-bottom: 20px;
    }
  }
}