.home {
  width: 100%;
  height: 100vh;
  background: $bg-color;
  position: relative;

  /* styles for navigation */
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $height-nav;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;

    background: $bg-color;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    padding: 0 15px 0 50px;

    border-bottom: 1px solid #424242;
    z-index: 3;

    .logo {
      font-size: 20px;
      letter-spacing: 2px;

      a {
        color: #FFF;
      }
    }

    .btn {
      display: none;

      -ms-align-items: center;
      align-items: center;
      justify-content: center;

      position: relative;
      cursor: pointer;
      transition: .3s;

      width: 35px;
      height: 100%;
      margin: 0 30px;
    }

    .icon {
      display: block;
      position: relative;
      background: #FFF;
      width: 90%;
      height: 4px;
      transition: .3s;

      &::after,
      &::before {
        content: '';
        display: block;
        position: absolute;
        background: #FFF;
        width: 100%;
        height: 4px;
        transition: .3s;
      }

      &::after {
        top: 8px;
      }

      &::before {
        top: -8px;
      }
    }

    .menu {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;

      -ms-align-items: center;
      align-items: center;

      background: $bg-color;
      height: 100%;

      li {
        padding: 0 15px;
        transition: .3s;
        border-bottom: 3px solid transparent;

        a {
          font-size: 14px;
          font-weight: 600;
          line-height: $height-nav - 3px;
          text-transform: uppercase;
          color: #FFF;
          transition: .3s;
        }

        &:hover {
          border-bottom: 3px solid $link-color;
          cursor: pointer;

          a {
            color: $link-color;
          }
        }
      }

      .active {
        border-bottom: 3px solid $link-color;

        a {
          color: $link-color;
        }
      }
    }

    .checkbox {
      display: none;

      &:checked~ {
        .menu {
          height: auto;
        }

        .btn .icon {
          background: transparent;

          &::before,
          &::after {
            top: 0;
          }

          &::after {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
          }

          &::before {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
          }
        }
      }
    }
  }

  /* styles for intro text */
  .intro {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;

    -ms-align-items: center;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    color: #CCC;
    text-align: center;

    h1 {
      letter-spacing: 2px;
      font-size: 30px;

      span {
        color: $link-color;
      }
    }

    p {
      margin-top: 5px;
      font-size: 14px;
    }
  }
}

@media screen and (min-width: 830px) {
  .home {
    .nav {
      .menu {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;

        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -o-flex-direction: row;
        flex-direction: row;
      }
    }
  }
}

@media screen and (max-width: 830px) {
  .home {
    .nav {
      .btn {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
      }

      .menu {
        position: fixed;
        top: $height-nav;
        left: 0;
        right: 0;

        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;

        -ms-align-items: center;
        align-items: center;
        justify-content: center;

        height: 0;
        overflow: hidden;
        padding: 0 30px;

        background: #263238;

        li:first-child {
          margin-top: 10px;
        }

        li:last-child {
          margin-bottom: 10px;
        }

        li {
          width: 100%;
          border-bottom: 0;

          a {
            line-height: $height-nav - 25px;
          }

          &:hover {
            border-bottom: 0;
          }
        }

        .active {
          border-bottom: 0;

          a {
            color: $link-color;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .home {

    .intro {

      h1 {
        font-size: 18px;
      }

      p {
        padding: 0 20px;
        font-size: 12px;
      }
    }
  }
}